name: iOS - Upload Version Metadata

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_ID_RELEASE_S3:
        required: true
      AWS_SECRET_ACCESS_KEY_RELEASE_S3:
        required: true
      APPLE_API_KEY_ID:
        required: true
      APPLE_API_KEY_ISSUER:
        required: true
      APPLE_API_KEY_BASE64:
        required: true

defaults:
  run:
    working-directory: iOS

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  upload-metadata:
    name: Upload Release Metadata to CDN
    runs-on: macos-15
    timeout-minutes: 5

    steps:
      - name: Check out the code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Ruby and Bundler
        uses: ./.github/actions/setup-ruby
        with:
          working-directory: iOS
          cache-key-prefix: ios-ruby

      - name: Upload App Store version metadata to CDN
        env:
          # Apple API keys
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}
          APPLE_API_KEY_BASE64: ${{ secrets.APPLE_API_KEY_BASE64 }}
          # AWS S3 configuration
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_RELEASE_S3 }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_RELEASE_S3 }}
          AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
          # S3 and CDN paths
          RELEASE_BUCKET_NAME: ${{ vars.RELEASE_BUCKET_NAME }}
          RELEASE_BUCKET_PREFIX: ${{ vars.RELEASE_BUCKET_PREFIX }}
          CDN_PATH: ${{ vars.IOS_METADATA_URL_ROOT }}
        run: |
          echo "Uploading App Store version metadata using fastlane..."
          bundle exec fastlane upload_appstore_version_metadata
