name: macOS - PR Build (Self-hosted)

defaults:
  run:
    working-directory: macOS

on:
  pull_request:
    types: [opened]
    paths:
      - '.github/**'
      - '.xcode-version'
      - 'SharedPackages/**'
      - 'macOS/**'

jobs:
  release-build:
    name: Make Release Build (Self-hosted)
    if: github.actor != 'dependabot[bot]'
    runs-on: [self-hosted, macOS]
    timeout-minutes: 60
    env:
      RUNS_ON: self-hosted-macOS # keep this in sync with runs-on above

    steps:
      - name: Register SSH key for certificates repository access
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_FASTLANE_MATCH }}

      - name: Check out the code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Start measuring duration
        id: start-duration-release-build
        uses: ./.github/actions/measure-duration
        with:
          mode: start

      - name: Setup Ruby and dependencies
        uses: ./.github/actions/setup-ruby
        with:
          working-directory: macOS
          cache-key-prefix: macos-ruby

      - name: Sync code signing assets
        id: sync-signing-first-attempt-release
        continue-on-error: true
        env:
          APPLE_API_KEY_BASE64: ${{ secrets.APPLE_API_KEY_BASE64 }}
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          SSH_PRIVATE_KEY_FASTLANE_MATCH: ${{ secrets.SSH_PRIVATE_KEY_FASTLANE_MATCH }}
        run: bundle exec fastlane sync_signing_dmg_release

      - name: Retry sync code signing assets
        if: steps.sync-signing-first-attempt-release.outcome == 'failure'
        env:
          APPLE_API_KEY_BASE64: ${{ secrets.APPLE_API_KEY_BASE64 }}
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          SSH_PRIVATE_KEY_FASTLANE_MATCH: ${{ secrets.SSH_PRIVATE_KEY_FASTLANE_MATCH }}
        run: |
          echo "First attempt to sync code signing assets failed. Retrying..."
          bundle exec fastlane sync_signing_dmg_release

      - name: Set cache key hash
        run: |
          has_only_tags=$(jq '[ .pins[].state | has("version") ] | all' DuckDuckGo-macOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved)
          if [[ "$has_only_tags" == "true" ]]; then
            echo "cache_key_hash=${{ hashFiles('macOS/DuckDuckGo-macOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}" >> $GITHUB_ENV
          else
            echo "Package.resolved contains dependencies specified by branch or commit, skipping cache."
          fi

      - name: Cache SPM
        if: env.cache_key_hash
        uses: actions/cache@v4
        with:
          path: macOS/DerivedData/SourcePackages
          key: ${{ runner.os }}-mac-release-build-${{ env.cache_key_hash }}
          restore-keys: |
            ${{ runner.os }}-mac-release-build-

      - name: Select Xcode
        uses: ./.github/actions/select-xcode-version

      - name: Build the app
        run: |
          export OS_ACTIVITY_MODE=debug
          set -o pipefail && xcodebuild \
            -scheme "macOS Browser" \
            -derivedDataPath "DerivedData" \
            -configuration "Release" \
            -skipPackagePluginValidation -skipMacroValidation \
            | tee release-xcodebuild.log \
            | xcbeautify

      - name: Report job duration
        continue-on-error: true
        uses: ./.github/actions/measure-duration
        with:
          mode: stop
          start-timestamp: ${{ steps.start-duration-release-build.outputs.start-timestamp }}
          pixel-name: m_ci_apple_duration_macos_release_build
          pixel-params: |
            runner: ${{ env.RUNS_ON }}

      - name: Upload failed test log
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: release-xcodebuild.log
          path: macOS/release-xcodebuild.log
          retention-days: 7
