name: macOS - Update Phishing Detection Datasets

defaults:
  run:
    working-directory: macOS

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'  # Midnight UTC every Sunday

jobs:
  update_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Execute Update Script
        run: |
          OUTPUT=$(bash ./scripts/update_phishing_detection_data.sh 2>&1)
          EXIT_CODE=$?
          echo "$OUTPUT"
          
          # If successful, extract the revision and create PR body
          if [ $EXIT_CODE -eq 0 ]; then
            REVISION=$(echo "$OUTPUT" | grep -oP 'Updated revision from \K\d+')
            echo "REVISION=$REVISION" >> $GITHUB_ENV
            
            TEMPLATE=$(bash ./scripts/update_phishing_detection_data.sh pr-body)
            PR_BODY_MACOS="${TEMPLATE//\{\{revision\}\}/$REVISION}"
            echo "PR_BODY_MACOS<<EOF" >> $GITHUB_ENV
            echo "$PR_BODY_MACOS" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
          else
            # Fail the workflow if the script failed
            echo "Script execution failed with exit code $EXIT_CODE"
            exit $EXIT_CODE
          fi
      - name: Create PR for macOS
        uses: peter-evans/create-pull-request@88bf0de51c7487d91e1abbb4899332e602c58bbf
        id: create-pr
        with:
          add-paths: |
            ./macOS/DuckDuckGo/PhishingDetection/
          commit-message: Update phishing detection data to revision ${{ env.REVISION }}
          branch: update-phishing-protection-${{ env.REVISION }}
          title: Update phishing protection datasets to ${{ env.REVISION }}
          body: "${{ env.PR_BODY_MACOS }}"
