name: Test workflow

on:
  workflow_dispatch:
    inputs:
      skip-job1:
        description: "Skip job 1"
        required: true
        type: boolean
      skip-workflow:
        description: "Skip workflow"
        required: true
        type: boolean


jobs:
  job1:
    name: Job 1
    runs-on: ubuntu-latest
    if: github.event.inputs.skip-job1 != 'true'
    steps:
      - name: Echo message
        run: echo "Job 1"

  job2:
    name: Job 2
    runs-on: ubuntu-latest
    needs: job1
    if: always()
    outputs:
      skip-workflow: ${{ steps.echo.outputs.output }}
    steps:
      - name: Echo message
        id: echo
        run: |
          echo "Job 2"
          echo "output=${{ github.event.inputs.skip-workflow }}" >> $GITHUB_OUTPUT

  job3:
    name: Job 3
    runs-on: ubuntu-latest
    needs: job2
    if: needs.job2.outputs.skip-workflow != 'true'
    steps:
      - name: Echo message
        run: echo "Job 3"
