name: macOS - Bump Internal Release

defaults:
  run:
    working-directory: macOS

on:
  push:
  workflow_dispatch:

jobs:

  increment_build_number:

    name: Increment Build Number

    runs-on: macos-15
    timeout-minutes: 10

    steps:

      - name: Check out the code
        uses: actions/checkout@v4

      - name: Setup Ruby and dependencies
        uses: ./.github/actions/setup-ruby
        with:
          working-directory: macOS
          cache-key-prefix: macos-ruby

      - name: Increment build number
        env:
          APPLE_API_KEY_BASE64: ${{ secrets.APPLE_API_KEY_BASE64 }}
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          bundle exec fastlane run bump_build_number platform:macos
